@using OSDevGrp.ReduceFoodWaste.WebApplication.Resources
@model OSDevGrp.ReduceFoodWaste.WebApplication.Models.HouseholdModel

<div id="basicInformation">
    @Html.Partial("_HouseholdBasicInformation", Model)
</div>
<hgroup class="title">
    <h4>@Texts.HouseholdMembers</h4>
</hgroup>
@if (ViewBag.AddingHouseholdMemberMode == null || ViewBag.AddingHouseholdMemberMode == false)
{
    <div id="addHouseholdMember"></div>
}
else
{
    @Html.Partial("_AddHouseholdMember", Model.HouseholdMembers.Last())
}
<table class="table table-responsive">
    <thead class="thead-light">
        <tr>
            <th>@Texts.MailAddress</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Texts.AddHouseholdMemberToHousehold</td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-primary" onclick="@string.Format("parent.addHouseholdMember('{0}')", Model.Identifier)">@Texts.Add</a>
                </div>
            </td>
        </tr>
        @if (Model.HouseholdMembers != null)
        {
            foreach (var householdMember in Model.HouseholdMembers.Take(Model.HouseholdMembers.Count() - (ViewBag.AddingHouseholdMemberMode == null || ViewBag.AddingHouseholdMemberMode == false ? 0 : 1)))
            {
                <tr>
                    <td>@householdMember.MailAddress</td>
                    <td>
                        @if (householdMember.Removable)
                        {
                            using (Html.BeginForm("RemoveHouseholdMember", "Household", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("HouseholdIdentifier", householdMember.HouseholdIdentifier)
                                @Html.Hidden("HouseholdMemberIdentifier", householdMember.HouseholdMemberIdentifier)
                                @Html.Hidden("MailAddress", householdMember.MailAddress)
                                @Html.Hidden("Removable", householdMember.Removable)
                                <div class="btn-group">
                                    <input class="btn btn-danger" type="submit" value="@Texts.Remove" @(!householdMember.Removable ? "disabled" : "") />
                                </div>
                            }
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>