@using OSDevGrp.ReduceFoodWaste.WebApplication.Resources
@model OSDevGrp.ReduceFoodWaste.WebApplication.Models.HouseholdModel

@{
    ViewBag.Title = string.Format("{0} {1}", Texts.Manage, Texts.Household.ToLower());
}

@section sidebar {
    @Html.Partial("_Sidebar")
}

<div class="row">
    <hgroup class="title">
        <h2>@ViewBag.Title</h2>
    </hgroup>
    @if (string.IsNullOrEmpty(ViewBag.StatusMessage) == false)
    {
        <p class="message-success">@ViewBag.StatusMessage</p>
    }
    @if (string.IsNullOrEmpty(ViewBag.ErrorMessage) == false)
    {
        <p class="message-error">@ViewBag.ErrorMessage</p>
    }
    <div class="partialContents" data-url="@VirtualPathUtility.ToAbsolute(string.Format("~/Household/HouseholdInformation?householdIdentifier={0}", Model.Identifier))">
        <img src="@VirtualPathUtility.ToAbsolute("~/Images/ajax-loader_bigspinner_green.gif")">
    </div>
</div>

@section scripts {
    <script>
        function editBasicInformation(householdIdentifier) {
            if ($("#basicInformation") != null) {
                $("#basicInformation").load("@VirtualPathUtility.ToAbsolute("~/Household/Edit?householdIdentifier=")" + householdIdentifier);
            }
        }

        function cancel(householdIdentifier) {
            window.location.href = "@VirtualPathUtility.ToAbsolute("~/Household/Manage?householdIdentifier=")" + householdIdentifier;
        }
    </script>
}
