@using OSDevGrp.ReduceFoodWaste.WebApplication.Resources
@model OSDevGrp.ReduceFoodWaste.WebApplication.Models.HouseholdModel

@{
    ViewBag.Title = string.Format("{0} {1}", Texts.Manage, Texts.Household.ToLower());
}

@section sidebar {
    @Html.Partial("_Sidebar")
}

<div class="row">
    <hgroup class="title">
        <h2>@ViewBag.Title</h2>
    </hgroup>
    <div class="partialContents" data-url="@VirtualPathUtility.ToAbsolute(string.Format("~/Household/HouseholdInformation?householdIdentifier={0}", Model.Identifier))">
        <img src="@VirtualPathUtility.ToAbsolute("~/Images/ajax-loader_bigspinner_green.gif")">
    </div>
</div>

@section scripts {
    <script>
        function editBasicInformaton(householdIdentifier) {
            if ($("#basicInformation") != null) {
                $("#basicInformation").load("@VirtualPathUtility.ToAbsolute("~/Household/Edit")", { householdIdentifier: householdIdentifier });
            }
        }
    </script>
}
