@using OSDevGrp.ReduceFoodWaste.WebApplication.Resources;
@model OSDevGrp.ReduceFoodWaste.WebApplication.Models.PrivacyPolicyModel

<table>
    <tbody>
        @if (Model.IsAccepted == false)
        {
            <tr>
                <td><h3>@Html.Raw(Model.Header)</h3></td>
            </tr>
            <tr>
                <td>@Html.Raw(Model.Body)</td>
            </tr>
            <tr>
                <td>@Html.CheckBoxFor(m => m.IsAccepted) @Texts.AcceptTermsAndPrivacyPolicy @Html.ValidationMessageFor(m => m.IsAccepted)</td>
            </tr>
        }
    </tbody>
</table>