@using OSDevGrp.ReduceFoodWaste.WebApplication.Resources
@model OSDevGrp.ReduceFoodWaste.WebApplication.Models.HouseholdModel

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@Texts.Startup.</h1>
                <h2>@string.Format(Texts.WelcomeTo, @Texts.ReduceFoodWasteProject)</h2>
            </hgroup>
            <p>@Texts.TimeToCreateYourFirstHousehold</p>
        </div>
    </section>
}

<hgroup class="title">
    <h1>@Texts.CreateHousehold</h1>
</hgroup>
@if (string.IsNullOrEmpty(@ViewBag.StatusMessage) == false)
{
    <p class="message-success">@ViewBag.StatusMessage</p>
}
@using (var form = @Html.BeginForm("Create", "HouseholdMember", Model, FormMethod.Post))
{
    <table>
        <tbody>
            <tr>
                <td>@Texts.Name</td>
                <td>@Html.TextBoxFor(m => m.Name)</td>
            </tr>
            <tr>
                <td>@Texts.Description</td>
                <td>@Html.TextAreaFor(m => m.Description)</td>
            </tr>
            @if (Model.PrivacyPolicy != null && Model.PrivacyPolicy.IsAccepted == false)
            {
                <tr>
                    <td colspan="2">@Html.Partial("_PrivacyPolicies", Model.PrivacyPolicy)</td>
                </tr>
            }
        </tbody>
    </table>
}
