@using OSDevGrp.ReduceFoodWaste.WebApplication.Resources
@model OSDevGrp.ReduceFoodWaste.WebApplication.Models.HouseholdModel

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@string.Format(Texts.WelcomeTo, Texts.ReduceFoodWasteProject)</h1>
            </hgroup>
            <p>@Texts.TimeToCreateYourFirstHousehold</p>
        </div>
    </section>
}

<div class="row">
    <hgroup class="title">
        <h1>@Texts.CreateHousehold</h1>
    </hgroup>
    @if (string.IsNullOrEmpty(ViewBag.StatusMessage) == false)
    {
        <p class="message-success">@ViewBag.StatusMessage</p>
    }
    @if (string.IsNullOrEmpty(ViewBag.ErrorMessage) == false)
    {
        <p class="message-error">@ViewBag.ErrorMessage</p>
    }
</div>
@using (Html.BeginForm("Create", "HouseholdMember", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Identifier)
    @Html.Partial("_HouseholdBasicInformation", Model)
    if (Model.PrivacyPolicy != null)
    {
        @Html.Partial("_PrivacyPolicies", Model.PrivacyPolicy)
        <div class="form-check">
            <label class="form-check-label">
                @Html.CheckBoxFor(m => m.PrivacyPolicy.IsAccepted, new { @class = "form-check-input" })
                @Html.LabelFor(m => m.PrivacyPolicy.IsAccepted, Texts.AcceptTermsAndPrivacyPolicy)
            </label>
            <div class="form-control-feedback">@Html.ValidationMessageFor(m => m.PrivacyPolicy.IsAccepted)</div>
        </div>
    }
    <div class="btn-group float-right">
        <input class="btn btn-primary" type="submit" value="@Texts.Next" title="@Texts.Next" />
    </div>
}
