@using OSDevGrp.ReduceFoodWaste.WebApplication.Resources
@model OSDevGrp.ReduceFoodWaste.WebApplication.Models.HouseholdMemberModel
@{
    ViewBag.Title = string.Format("{0} {1}", Texts.Manage, Texts.HouseholdMemberAccount.ToLower());
}

@section sidebar {
    @Html.Partial("_Sidebar")
}

<hgroup class="title">
    <h2>@ViewBag.Title</h2>
</hgroup>
@if (string.IsNullOrEmpty(ViewBag.StatusMessage) == false)
{
    <p class="message-success">@ViewBag.StatusMessage</p>
}
@if (string.IsNullOrEmpty(ViewBag.ErrorMessage) == false)
{
    <p class="message-error">@ViewBag.ErrorMessage</p>
}
<table class="table table-responsive">
    <tbody>
        <tr>
            <td nowrap>@Texts.Name</td>
            <td><strong>@Html.Raw(Model.Name)</strong></td>
        </tr>
        <tr>
            <td nowrap>@Texts.MailAddress</td>
            <td><strong>@Html.Raw(Model.MailAddress)</strong></td>
        </tr>
        <tr>
            <td nowrap>@Texts.Membership</td>
            @if (Model.MembershipExpireTime.HasValue)
            {
                <td><strong>@Html.Raw(string.Format("{0} ({1}: {2})", Model.Membership, Texts.Expires, Model.MembershipExpireTime.Value.ToLongDateString()))</strong></td>
            }
            else
            {
                <td><strong>@Html.Raw(Model.Membership)</strong></td>
            }
        </tr>
        @if (Model.CanRenewMembership || Model.CanUpgradeMembership)
        {
            <tr>
                <td nowrap></td>
                <td>
                    <div class="btn-group">
                        @if (Model.CanRenewMembership)
                        {
                            @Html.ActionLink(Texts.Renew, "RenewMembership", "HouseholdMember", new { returnUrl = VirtualPathUtility.ToAbsolute("~/HouseholdMember/Manage") }, new { @class = "btn btn-primary" })
                        }
                        @if (Model.CanUpgradeMembership)
                        {
                            @Html.ActionLink(Texts.Upgrade, "UpgradeMembership", "HouseholdMember", new { returnUrl = VirtualPathUtility.ToAbsolute("~/HouseholdMember/Manage") }, new { @class = "btn btn-primary" })
                        }
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>