@using OSDevGrp.ReduceFoodWaste.WebApplication.Resources
@model OSDevGrp.ReduceFoodWaste.WebApplication.Models.HouseholdMemberModel

@{
    ViewBag.Title = string.Format("{0} {1}", Texts.Manage, Texts.HouseholdMemberAccount.ToLower());
}

@section sidebar {
    @Html.Partial("_Sidebar")
}

<div class="row">
    <hgroup class="title">
        <h2>@ViewBag.Title</h2>
    </hgroup>
    @if (string.IsNullOrEmpty(ViewBag.StatusMessage) == false)
    {
        <p class="message-success">@ViewBag.StatusMessage</p>
    }
    @if (string.IsNullOrEmpty(ViewBag.ErrorMessage) == false)
    {
        <p class="message-error">@ViewBag.ErrorMessage</p>
    }
    <table class="table table-sm">
        <tbody>
            <tr>
                <td style="width: 15%" nowrap>@Texts.Name</td>
                <td><strong>@Html.Raw(Model.Name)</strong></td>
            </tr>
            <tr>
                <td style="width: 15%" nowrap>@Texts.MailAddress</td>
                <td><strong>@Html.Raw(Model.MailAddress)</strong></td>
            </tr>
            <tr>
                <td style="width: 15%" nowrap>@Texts.Membership</td>
                @if (Model.MembershipExpireTime.HasValue)
                {
                    <td><strong>@Html.Raw(string.Format("{0} ({1}: {2})", Model.Membership, Texts.Expires, Model.MembershipExpireTime.Value.ToLongDateString()))</strong></td>
                }
                else
                {
                    <td><strong>@Html.Raw(Model.Membership)</strong></td>
                }
            </tr>
            @if (Model.CanRenewMembership || Model.CanUpgradeMembership)
            {
                <tr>
                    <td style="width: 15%" nowrap></td>
                    <td>
                        <div class="btn-group">
                            @if (true)
                            {
                                if (true)
                                {
                                    @Html.ActionLink(Texts.Renew, "RenewMembership", "HouseholdMember", null, new { @class = "btn btn-primary", style = "margin-right: 10px" })
                                }
                                else
                                {
                                    @Html.ActionLink(Texts.Renew, "RenewMembership", "HouseholdMember", null, new { @class = "btn btn-primary" })
                                }
                            }
                            @if (true)
                            {
                                @Html.ActionLink(Texts.Upgrade, "UpgradeMembership", "HouseholdMember", null, new { @class = "btn btn-primary" })
                            }
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="row">
    <h4>@Texts.ExternalLoginProviders</h4>
    <div class="partialContents" data-url="@VirtualPathUtility.ToAbsolute("~/Account/RemoveExternalLogins")">
        <img src="@VirtualPathUtility.ToAbsolute("~/Images/ajax-loader_bigspinner_green.gif")">
    </div>
</div>
