@using OSDevGrp.ReduceFoodWaste.WebApplication.Resources
@model OSDevGrp.ReduceFoodWaste.WebApplication.Models.HouseholdMemberModel

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@string.Format(Texts.WelcomeTo, Texts.ReduceFoodWasteProject)</h1>
            </hgroup>
            <p>@Texts.TimeToPrepareYourHouseholdMemberAccount</p>
        </div>
    </section>
}

<div class="row">
    <hgroup class="title">
        <h1>@Texts.PrepareHouseholdMemberAccount</h1>
    </hgroup>
    @if (string.IsNullOrEmpty(ViewBag.StatusMessage) == false)
    {
        <p class="message-success">@ViewBag.StatusMessage</p>
    }
    @if (string.IsNullOrEmpty(ViewBag.ErrorMessage) == false)
    {
        <p class="message-error">@ViewBag.ErrorMessage</p>
    }
</div>
@using (Html.BeginForm("Prepare", "HouseholdMember", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Identifier)
    if (Model.ActivatedTime.HasValue)
    {
        @Html.HiddenFor(m => m.ActivatedTime)
    }
    if (Model.PrivacyPolicyAcceptedTime.HasValue)
    {
        @Html.HiddenFor(m => m.PrivacyPolicyAcceptedTime)
    }
    if (Model.IsActivated == false)
    {
        <div class="row input-group">
            <h3>@Texts.Activation</h3>@Html.LabelFor(m => m.ActivationCode, Texts.ActivationCode)<br />@Html.TextBoxFor(m => m.ActivationCode)
        </div>
    }
    if (Model.HasAcceptedPrivacyPolicy == false && Model.PrivacyPolicy != null)
    {
        <div class="row input-group">
            @Html.Partial("_PrivacyPolicies", Model.PrivacyPolicy)
            @Html.CheckBoxFor(m => m.PrivacyPolicy.IsAccepted)&nbsp;@Html.LabelFor(m => m.PrivacyPolicy.IsAccepted, Texts.AcceptTermsAndPrivacyPolicy)&nbsp;@Html.ValidationMessageFor(m => m.PrivacyPolicy.IsAccepted)
        </div>
    }
    <div class="row">
        <input class="bnt btn-primary float-right" type="submit" value="@Texts.Next" title="@Texts.Next" />
    </div>
}
