@using OSDevGrp.ReduceFoodWaste.WebApplication.Resources
@model OSDevGrp.ReduceFoodWaste.WebApplication.Models.HouseholdMemberModel

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@string.Format(Texts.WelcomeTo, Texts.ReduceFoodWasteProject)</h1>
            </hgroup>
            <p>@Texts.TimeToPrepareYourHouseholdMemberAccount</p>
        </div>
    </section>
}

<hgroup class="title">
    <h1>@Texts.PrepareHouseholdMemberAccount</h1>
</hgroup>
@if (string.IsNullOrEmpty(ViewBag.StatusMessage) == false)
{
    <p class="message-success">@ViewBag.StatusMessage</p>
}
@if (string.IsNullOrEmpty(ViewBag.ErrorMessage) == false)
{
    <p class="message-error">@ViewBag.ErrorMessage</p>
}
@using (Html.BeginForm("Prepare", "HouseholdMember", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Identifier)
    if (Model.ActivatedTime.HasValue)
    {
        @Html.HiddenFor(m => m.ActivatedTime)
    }
    if (Model.PrivacyPolicyAcceptedTime.HasValue)
    {
        @Html.HiddenFor(m => m.PrivacyPolicyAcceptedTime)
    }
    if (Model.IsActivated == false)
    {
        <hgroup class="title">
            <h3>@Texts.Activation</h3>
        </hgroup>
        <div class="form-group">
            @Html.LabelFor(m => m.ActivationCode, Texts.ActivationCode)
            @Html.TextBoxFor(m => m.ActivationCode, null, new { @class = "form-control" })
        </div>
    }
    if (Model.HasAcceptedPrivacyPolicy == false && Model.PrivacyPolicy != null)
    {
        @Html.Partial("_PrivacyPolicies", Model.PrivacyPolicy)
        <div class="form-check">
            <label class="form-check-label">
                @Html.CheckBoxFor(m => m.PrivacyPolicy.IsAccepted, new { @class = "form-check-input" })
                @Html.LabelFor(m => m.PrivacyPolicy.IsAccepted, Texts.AcceptTermsAndPrivacyPolicy)
            </label>
            <div class="text-danger">@Html.ValidationMessageFor(m => m.PrivacyPolicy.IsAccepted)</div>
        </div>
    }
    <div class="btn-group float-right">
        <input class="btn btn-primary" type="submit" value="@Texts.Next" title="@Texts.Next" />
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}