@using Microsoft.Owin.Security;
@using OSDevGrp.ReduceFoodWaste.WebApplication.Resources
@model IEnumerable<AuthenticationDescription>

@using (Html.BeginForm("ExternalLogin", "Account", new {ViewBag.ReturnUrl}))
{
@Html.AntiForgeryToken()
<fieldset id="socialLoginList">
    <legend>@Texts.LogInUsingAnotherService</legend>
    <p>
        @foreach (AuthenticationDescription loginProvider in Model)
        {
            <button style="cursor: pointer; color: transparent; border: none; background: url(@loginProvider.Properties["Icon"]); width: 200px; height: 48px; margin-right: 20px; margin-bottom: 30px" type="submit" name="provider" value="@loginProvider.AuthenticationType" title="@string.Format(Texts.LogInUsingYourAccount, loginProvider.Caption)">@loginProvider.Caption</button>
        }
    </p>
</fieldset>
}