@using OSDevGrp.ReduceFoodWaste.WebApplication.Infrastructure.Security.Authentication
@using OSDevGrp.ReduceFoodWaste.WebApplication.Resources
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - @Texts.ReduceFoodWasteProject</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap/css")
    @Styles.Render("~/Content/progress.overlay/css")
</head>
<body>
    <header>
        <div class="navbar navbar-light bg-faded">
            <div class="container">
                <nav class="navbar navbar-light bg-faded">
                    @Html.ActionLink(Texts.ReduceFoodWasteProject, "Index", "Home", null, new { @class = "navbar-brand" })
                    <ul class="nav navbar-nav">
                        <li class="nav-item active">@Html.ActionLink(Texts.Home, "Index", "Home", null, new { @class = "nav-link" })</li>
                        @if (User != null && User.Identity != null && User.Identity.IsAuthenticated && User.Identity.IsValidatedHouseholdMember())
                        {
                            <li class="nav-item active">@Html.ActionLink(Texts.Dashboard, "Dashboard", "Dashboard", null, new { @class = "nav-link" })</li>
                        }
                    </ul>
                    <ul class="nav navbar-nav pull-xs-right">
                        @if (Request.IsAuthenticated)
                        {
                            if (User != null && User.Identity != null && User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item">@Html.ActionLink(User.Identity.Name, "Manage", "Account", null, new { @class = "nav-link" })</li>
                            }
                            <li class="nav-item active">
                                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { @class = "form-inline", id = "logoutForm" }))
                                {
                                    @Html.AntiForgeryToken()
                                }
                                <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">@Texts.LogOff</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item active">@Html.ActionLink(Texts.LogIn, "Login", "Account", null, new { @class = "nav-link" })</li>
                        }
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="body">
        <div class="container">
            @if (IsSectionDefined("sidebar"))
            {
                <div class="col-sm-3 col-md-2 sidebar">
                    @* TODO: View the source of http://v4-alpha.getbootstrap.com/examples/dashboard/ *@
                    @RenderSection("sidebar", required: true)
                </div>
                <div class="col-sm-9 col-md-10">
                    @Html.Partial("_CookieConsent")
                    <div class="row">
                        @RenderSection("featured", required: false)
                        <section class="content-wrapper clear-fix">
                            @RenderBody()
                        </section>
                    </div>
                </div>
            }
            else
            {
                @Html.Partial("_CookieConsent")
                <div class="row">
                    @RenderSection("featured", required: false)
                    <section class="content-wrapper clear-fix">
                        @RenderBody()
                    </section>
                </div>
            }
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="float-left">
                    <p>Copyright &copy; OS Development Group @DateTime.Now.Year - @Texts.ReduceFoodWasteProject</p>
                </div>
                <div class="float-right">
                    <ul>
                        <li>@Html.ActionLink(Texts.English, "Set", "Language", new { language = "en" }, null)</li>
                        <li>@Html.ActionLink(Texts.Danish, "Set", "Language", new { language = "da" }, null)</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @*
        @Scripts.Render("~/bundles/bootstrap")
    *@
    @Scripts.Render("~/bundles/progress.overlay")
    @RenderSection("scripts", required: false)

    <script>
        $().ready(function () {
            $("a").click(function () {
                if ($(this).attr("href") != null && $(this).attr("href") !== '') {
                    if ($(this).attr("progressOverlay") !== 'false') {
                        $().progressOverlay("show");
                    }
                }
            });

            $(".partialContents")
                .each(function (index, item) {
                    var url = $(item).data("url");
                    if (url && url.length > 0) {
                        $(item).load(url);
                    }
                });
        });
    </script>
</body>
</html>
