@using OSDevGrp.ReduceFoodWaste.WebApplication.Infrastructure.Exceptions
@using OSDevGrp.ReduceFoodWaste.WebApplication.Resources
@model HandleErrorInfo

@{
    ViewBag.Title = Texts.Error;
}

<hgroup class="title">
    <h1 class="error">@Texts.Error.</h1>
    <h2 class="error">@Texts.ErrorOccurredProcessingRequest</h2>
</hgroup>
@if (Model.Exception != null)
{
    if (Model.Exception is ReduceFoodWasteBusinessException)
    {
        <p>@Texts.Type: @Texts.BusinessException</p>
        <p>@Texts.Reason: @Model.Exception.Message</p>
        return;
    }
    if (Model.Exception is ReduceFoodWasteSystemException)
    {
        <p>@Texts.Type: @Texts.SystemException</p>
        <p>@Texts.Reason: @Model.Exception.Message</p>
        return;
    }
    if (Model.Exception is ReduceFoodWasteRepositoryException)
    {
        <p>@Texts.Type: @string.Format(Texts.RepositoryException, ((ReduceFoodWasteRepositoryException) Model.Exception).RepositoryName)</p>
        <p>@Texts.Reason: @Model.Exception.Message</p>
        return;
    }
    <p>@Texts.Reason: @Model.Exception.Message</p>
}
