@using OSDevGrp.ReduceFoodWaste.WebApplication.Resources
@model OSDevGrp.ReduceFoodWaste.WebApplication.Models.DashboardModel

<div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 col.col-xl-9">
    @foreach (var household in Model.Households)
    {
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col.col-xl-4">
                <hr />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col.col-xl-8">
                <hr />
            </div>
        </div>
    }
</div>
<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col.col-xl-3">
    <div class="row">
        <div class="card">
            <img class="card-img card-img-top img-fluid" alt="Responsive image" src="@VirtualPathUtility.ToAbsolute("~/Images/membership.png")" />
            <div class="card-block text-xs-center">
                <h5 class="card-title">@Html.Raw(Model.HouseholdMember.Membership)</h5>
                @if (Model.HouseholdMember.MembershipExpireTime.HasValue)
                {
                    <p class="card-text">@Html.Raw(string.Format("{0}: {1}", Texts.Expires, Model.HouseholdMember.MembershipExpireTime.Value.ToLongDateString()))</p>
                }
                @Html.ActionLink(Texts.Manage, "Manage", "Household", null, new { @class = "btn btn-primary" })
            </div>
        </div>
        <hr />
    </div>
</div>

@*
    <div class="card-columns">
        @foreach (var household in Model.Households)
        {
            <div class="card">
                <img class="card-img-top" src="@VirtualPathUtility.ToAbsolute("~/Images/household.png")" />
                <div class="card-block text-xs-center">
                    <h5 class="card-title">@household.Name</h5>
                    @Html.ActionLink(Texts.Manage, "Manage", "Household", new { householdIdentifier = household.Identifier }, new { @class = "btn btn-primary" })
                </div>
            </div>
        }
    </div>
*@