@model OSDevGrp.ReduceFoodWaste.WebApplication.Models.DashboardModel

@* TODO: http://v4-alpha.getbootstrap.com/components/card/ *@

@foreach (var household in Model.Households)
{
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card">
            <img class="card-img-top" src="@VirtualPathUtility.ToAbsolute("~/Images/household.png")"/>
            <div class="card-block">
                <h5 class="card-title text-xs-center">@household.Name</h5>
            </div>
        </div>
    </div>
}
<div class="col-lg-4 col-md-6 col-sm-12">
    <div class="card">
        <img class="card-img-top" src="@VirtualPathUtility.ToAbsolute("~/Images/household.png")" />
        <h5 class="card-title text-xs-center">Test 1: Dette er en test på en noget længere linje</h5>
    </div>
</div>
<div class="col-lg-4 col-md-6 col-sm-12">
    <div class="card">
        <img class="card-img-top" src="@VirtualPathUtility.ToAbsolute("~/Images/household.png")"/>
        <h5 class="card-title text-xs-center">Test 2</h5>
    </div>
</div>
<div class="col-lg-4 col-md-6 col-sm-12">
    <div class="card">
        <img class="card-img-top" src="@VirtualPathUtility.ToAbsolute("~/Images/household.png")" />
        <h5 class="card-title text-xs-center">Test 3</h5>
    </div>
</div>
<div class="col-lg-4 col-md-6 col-sm-12">
    <div class="card">
        <img class="card-img-top" src="@VirtualPathUtility.ToAbsolute("~/Images/household.png")" />
        <h5 class="card-title text-xs-center">Test 4</h5>
    </div>
</div>
<div class="col-lg-4 col-md-6 col-sm-12">
    <div class="card">
        <img class="card-img-top" src="@VirtualPathUtility.ToAbsolute("~/Images/household.png")" />
        <h5 class="card-title text-xs-center">Test 5</h5>
    </div>
</div>
