@using OSDevGrp.ReduceFoodWaste.WebApplication.Resources
@model OSDevGrp.ReduceFoodWaste.WebApplication.Models.DashboardModel

<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-9">
        @foreach (var household in Model.Households)
        {
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                    <div class="card">
                        <img class="card-img card-img-top img-fluid" alt="Responsive image" src="@VirtualPathUtility.ToAbsolute("~/Images/household.png")" />
                        <div class="card-body text-center">
                            <h5 class="card-title">@household.Name</h5>
                            @Html.ActionLink(Texts.Manage, "Manage", "Household", new { householdIdentifier = household.Identifier }, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-8 col-xl-8 d-none d-md-block d-lg-block d-xl-block">
                    <b>@household.Name</b>
                    <hr />
                </div>
            </div>
        }
        @if (Model.HouseholdMember != null && Model.HouseholdMember.HasReachedHouseholdLimit == false)
        {
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                    <div class="card">
                        <img class="card-img card-img-top img-fluid" alt="Responsive image" src="@VirtualPathUtility.ToAbsolute("~/Images/household.png")" />
                        <div class="card-body text-center">
                            <h5 class="card-title">@string.Format("{0} {1}", Texts.Add, Texts.Household.ToLower())</h5>
                            @Html.ActionLink(Texts.Add, "AddHousehold", "HouseholdMember", null, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-8 col-xl-8 d-none d-md-block d-lg-block d-xl-block">
                </div>
            </div>
        }
        @if (Model.HouseholdMember != null)
        {
            <div class="row d-block d-lg-none d-xl-none">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    @Html.Partial("_HouseholdMemberMembership", Model.HouseholdMember)
                </div>
            </div>
        }
    </div>
    <div class="col-lg-4 col-xl-3 d-none d-lg-block d-xl-block">
        @if (Model.HouseholdMember != null)
        {
            @Html.Partial("_HouseholdMemberMembership", Model.HouseholdMember)
        }
    </div>
</div>