@using OSDevGrp.ReduceFoodWaste.WebApplication.Resources
@model OSDevGrp.ReduceFoodWaste.WebApplication.Models.DashboardModel

<div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 col.col-xl-9">
    @foreach (var household in Model.Households)
    {
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col.col-xl-4">
                <div class="card">
                    <img class="card-img card-img-top img-fluid" alt="Responsive image" src="@VirtualPathUtility.ToAbsolute("~/Images/household.png")" />
                    <div class="card-block text-xs-center">
                        <h5 class="card-title">@household.Name</h5>
                        @Html.ActionLink(Texts.Manage, "Manage", "Household", new { householdIdentifier = household.Identifier }, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 col.col-xl-8">
            </div>
        </div>
    }
</div>
<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col.col-xl-3">
    <div class="row">
        <div class="card">
            <img class="card-img card-img-top img-fluid" alt="Responsive image" src="@VirtualPathUtility.ToAbsolute("~/Images/membership.png")" />
            <div class="card-block text-xs-center">
                <h5 class="card-title">@Texts.Membership</h5>
                @if (Model.HouseholdMember.MembershipExpireTime.HasValue)
                {
                    <p class="card-text">@Html.Raw(string.Format("{0} ({1}: {2})", Model.HouseholdMember.Membership, Texts.Expires, Model.HouseholdMember.MembershipExpireTime.Value.ToLongDateString()))</p>
                }
                else
                {
                    <p class="card-text">@Html.Raw(Model.HouseholdMember.Membership)</p>
                }
                @if (Model.HouseholdMember.CanRenewMembership)
                {
                    if (Model.HouseholdMember.CanUpgradeMembership)
                    {
                        @Html.ActionLink(Texts.Renew, "RenewMembership", "HouseholdMember", null, new { @class = "btn btn-primary", style = "margin-bottom: 10px" })
                    }
                    else
                    {
                        @Html.ActionLink(Texts.Renew, "RenewMembership", "HouseholdMember", null, new { @class = "btn btn-primary" })
                    }
                }
                @if (Model.HouseholdMember.CanUpgradeMembership)
                {
                    @Html.ActionLink(Texts.Upgrade, "UpgradeMembership", "HouseholdMember", null, new { @class = "btn btn-primary" })
                }
            </div>
        </div>
    </div>
</div>
