@using OSDevGrp.ReduceFoodWaste.WebApplication.Resources
@{
    ViewBag.Title = Texts.HomePage;
}

@section featured {
    @if (Request.IsAuthenticated == false)
    {
        <section class="featured">
            <div class="content-wrapper">
                <hgroup class="title">
                    <h1>@ViewBag.Message</h1>
                </hgroup>
                <p>@string.Format(@Texts.PleaseLogIn, Texts.ReduceFoodWasteProject)</p>
            </div>
        </section>
    }
}

@if (Request.IsAuthenticated == false)
{
    <div class="row">
        <div id="box-rounded">
            <h3>@Texts.LogInUsingAnotherService</h3>
            <section id="externalLogins">
                @Html.Action("ExternalLoginsList", "Account", new { ViewBag.ReturnUrl })
            </section>
        </div>
    </div>
}