@using OSDevGrp.ReduceFoodWaste.WebApplication.Resources
@model OSDevGrp.ReduceFoodWaste.WebApplication.Models.PayableModel
    
@{
    ViewBag.Title = Texts.Payment;
}

@section sidebar {
    @Html.Partial("_Sidebar")
}

<div class="row">
    <hgroup class="title">
        <h2>@ViewBag.Title</h2>
    </hgroup>
    @if (string.IsNullOrEmpty(ViewBag.StatusMessage) == false)
    {
        <p class="message-success">@ViewBag.StatusMessage</p>
    }
    @if (string.IsNullOrEmpty(ViewBag.ErrorMessage) == false)
    {
        <p class="message-error">@ViewBag.ErrorMessage</p>
    }
    <hgroup class="title">
        <h3>@Texts.BillingInformations</h3>
    </hgroup>
    <p>@Html.Raw(Model.BillingInformation)</p>
</div>
